
/* 예매 - 인원/ 좌석 선택 페이지 */
#sub.choice-seat {}
#sub.choice-seat > section {
}
/* 가로사이즈 100%의 각 구역 */
#sub.choice-seat > section:nth-of-type(1) {
    height: 260px;
    padding: 50px 0 30px;
    background: #f9f6ec;
    box-sizing: border-box;
}
#sub.choice-seat > section:nth-of-type(2) {
    height: auto;
    padding: 20px 0 32px;
    box-sizing: border-box;
}
#sub.choice-seat > section:nth-of-type(3) {
    height: 35.5px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}
#sub.choice-seat > section:nth-of-type(4) {
    height: 50px;
    background:#cdc197;
    box-sizing: border-box;
}
#sub.choice-seat > section:nth-of-type(5) {
    height: 198px;
    background: #33373A;
    box-sizing: border-box;
}

/* 중앙정렬구간 */
#sub.choice-seat > section > div {
    width: 980px;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
}
/* 인원/좌석선택 */
#sub.choice-seat > section > .seat-setting {
}
/* 타이틀 */
#sub.choice-seat > section > .seat-setting > h1 {
    color:#231f20;
    font-size: 28px;
    padding: 0 0 20px;
}
#sub.choice-seat > section > .seat-setting > div {
    padding:0 28px 0 30px;
    background:#fff;

}
#sub.choice-seat > section > .seat-setting > div > div {

} 
/* 셀렉트박스 부분 */
#sub.choice-seat > section > .seat-setting > div > div:nth-of-type(1){
    padding: 20px 0 10px;
    font-size:14px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
#sub.choice-seat .seat-setting > div > div:nth-of-type(1) > span {
    display: inline-block;
    width: 72px;
    height: 30px;
    margin: 0 20px 0 0;
    color: #231f20;
}
#sub.choice-seat .seat-setting > div > div:nth-of-type(1) > select {
    width: 70px;
    height: 32px;
    color: #666;
    border:1px solid #ccc;
    padding: 0 0 0 0px;
    margin: 0 15px 0 0;
    box-sizing: border-box;
}

/* 좌석붙임설정 */
#sub.choice-seat > section > .seat-setting > div > div:nth-of-type(2){
    padding: 20px 0;
    box-sizing: border-box;
}
#sub.choice-seat .seat-setting > div > div:nth-of-type(2) > span {
    color: #222;
    margin: 0 3px 0 0;
    font-size:14px;
    box-sizing: border-box;
}
#sub.choice-seat .seat-setting > div > div:nth-of-type(2) > img {
    margin: 2px 15px 0 5px;
    box-sizing: border-box;
}
#sub.choice-seat .seat-setting > div > div:nth-of-type(2) > em {
    float:right;
    font: normal 13px "나눔고딕";
    color: #777;
}



#sub.choice-seat > section > .seat-area {
    margin: 0 auto;
    padding: 20px 0 32px;
    box-sizing: border-box;
    
}
/* 스크린 사각박스 */
#sub.choice-seat > section > div.seat-area> div.screen {
    background-image: url('/jcinema/img/bg_screen.gif');
    margin: 0 0 15px;
    box-sizing: border-box;
}
/* 스크린 글자 */
#sub.choice-seat > section > div.seat-area> div.screen > em {
    display: block;
    line-height: 25px;
    font-size: 20px;
    color: #231f20;
    text-align: center;
    font-style: italic;
}
/* 관객석 */
#sub.choice-seat > section > div.seat-area> article {
    overflow: auto;
    position: relative;
    padding: 20px 40px;
    background: #f9f8f3;
    box-sizing: border-box;
}
#sub.choice-seat > section > div.seat-area> article > ul {
    
}
#sub.choice-seat > section > div.seat-area> article > ul > li {
    margin: 0 0 0 177px;
    float: left;
    box-sizing: border-box;
}
/* 왼쪽의 abcd 표시 부분 */
#sub.choice-seat > section > div.seat-area> article > ul > li > span {
    width: 22px;
    height: 22px;
    font-size: 11px;
    line-height: 23px;
    margin: 5px;
    float: left;
}
#sub.choice-seat > section > div.seat-area> article > ul > li > span.tit {}
#sub.choice-seat > section > div.seat-area> article > ul > li > a {
    display: block;
    color:#fff;
    width: 22px;
    height: 22px;
    font-size: 11px;
    line-height: 23px;
    background: #848484;
    text-align: center;
    float: left;
    margin: 5px;
    box-sizing: border-box;
}

/* 좌석안내문구 */
#sub.choice-seat > section > div.seat-area > p {
    padding-left: 7px;
    margin-top: 22px;
    background: url(/jcinema/image/bullet01.gif) no-repeat 0 50%;
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
/* 오른쪽 마크안내 */
#sub.choice-seat > section > div.seat-area> ol {
    float:right;
    padding: 20px 0 0;
}
#sub.choice-seat > section > div.seat-area > ol > li {
    float: left;
    margin-left: 27px;
    padding-left: 22px;
    font-size: 13px;
    color: #666;
    line-height: 14px;
}

/* 출입문-스위트스팟 아이콘 공통*/        
#sub.choice-seat > section > div > ol > li > i {
    background-image: url('../img/sprite_bg_seat.png');
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-bottom: -3px;
    margin-right: 6px;
}
#sub.choice-seat div.seat-area i.bg_seat_exit {width:30px ; background-position-x: 30px;}
#sub.choice-seat div.seat-area i.bg_seat_selected {}
#sub.choice-seat div.seat-area i.bg_seat_available {background-position-x: -14px;}
#sub.choice-seat div.seat-area i.bg_seat_reserved {background-position-x: -28px;}
#sub.choice-seat div.seat-area i.bg_seat_not {background-position-x: -42px;}

/* 좌석 발받침 안내 */
#sub.choice-seat > section > .seat-info {
    width: 980px;
    height: 38px;
    margin: 0 auto;
    box-sizing: border-box;
}
#sub.choice-seat > section > .seat-info > ol {
}
#sub.choice-seat > section > .seat-info > ol > li {
    display: inline-block;
    margin: 0 34px;
}
#sub.choice-seat > section > .seat-info > ol > li:last-child {margin:0;}

/* 공통은 위에 잡았고 스위트스팟 아이콘 */
#sub.choice-seat div.seat-info i.bg_seat_sweet {background-position-x: 0px; background-position-y: -14px}
#sub.choice-seat div.seat-info i.bg_seat_couple {background-position-x: -14px; background-position-y: -14px}
#sub.choice-seat div.seat-info i.bg_seat_family {background-position-x: -28px; background-position-y: -14px}
#sub.choice-seat div.seat-info i.bg_seat_comfort {background-position-x: -42px; background-position-y: -14px}
#sub.choice-seat div.seat-info i.bg_set_disable {background-position-x: -56px; background-position-y: -14px}
#sub.choice-seat div.seat-info i.bg_set_foot {background-position-x: -70px; background-position-y: -14px}

/* 4번째 박스 - 결제창 */
#sub.choice-seat > section > .back-and-pay {
    margin: 0 auto;
    height: 50px;
    box-sizing: border-box;
}
#sub.choice-seat > section > .back-and-pay > a:nth-of-type(1){
    float: left;
    height: 16px;
    margin-top: 16px;
    padding-left: 29px;
    color: #231f20;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    background: url(../img/btn_total_prev.png) no-repeat;
}

#sub.choice-seat > section > .back-and-pay > a:nth-of-type(2){
    float:right;
    width: 115px;
    height: 28px;
    color: #231f20;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #b2a168;
    background: #f5f3ea;
    line-height: 26px;
    margin-top:8px;
    text-align: center;
}

/* 최하단 결제창 */
#sub.choice-seat > section > .total-info {height: 198px;}
#sub.choice-seat > section > .total-info > div {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    padding: 16px;
    border-right: 1px solid #515151;
    box-sizing: border-box;
}
#sub.choice-seat > section > .total-info > div:first-child {
    border-left: 1px solid #515151;
}
/* 주제 */
#sub.choice-seat > section > .total-info > div > span {
    display: block;
    margin-bottom: 10px;
    color: #cdc197;
    font-size: 14px;
}
/* 영화 안내 */
#sub.choice-seat > section > .total-info > div > article {}
#sub.choice-seat > section > .total-info > div > article > p.movie-info {
    float: left;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
}
#sub.choice-seat > section > .total-info > div > article > p.movie-info > strong {}
#sub.choice-seat > section > .total-info > div > article > p.movie-info > b {
    display: block;
    font-weight: normal;
    margin: 15px 0 0;
}
#sub.choice-seat > section > .total-info > div > article > p.movie-info > em {
    display: block;
    font-style: normal;
    font-size: 12px;
    margin-top: 26px;
}
#sub.choice-seat > section > .total-info > div > article > img.poster {
    width: 65px;
    height: 94px;
    float: left;
}
#sub.choice-seat > section > .total-info > div > table {width: 100%;}
#sub.choice-seat > section > .total-info > div > table tr {}
#sub.choice-seat > section > .total-info > div > table tr > td {}
#sub.choice-seat > section > .total-info > div > table tr > td:nth-of-type(1) {
    color: #a7a9ac;
    font-size: 14px;
    line-height: 22px;
}
#sub.choice-seat > section > .total-info > div > table tr > td:nth-of-type(2) {
    color: #fff;
    font-size: 14px;
    padding-left: 20px;
    box-sizing: border-box;
}
#sub.choice-seat > section > .total-info > div > table tr > td.right {
    text-align: right;
}
#sub.choice-seat > section > .total-info > div h2 {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 22px;
    font-weight: normal;
    color: #fff; 
}
#sub.choice-seat > section > .total-info > div h2 > span {
    display: inline;
    color: #fff;
}
